{% extends "base.html" %}

{% block title %}User Profile{% endblock %}

{% block navbar %}
<div class="navbar" id="navbar">
  <div class="navbar-inner">
    <a class="brand" href="/" id="brand-name">Bookface</a>
    <ul class="nav" id="items">
      <li><a href="{% url "webapp.pages.all_users" %}">Users</a></li>
      {% if user.is_authenticated %}
      <li class="logout-item pull-right"><a id="logout" href="{% url "django.contrib.auth.views.logout" %}">Logout</a></li>
      {% endif %}
    </ul>
  </div>
</div>
{% endblock %}


{% block content %}
    <!-- row -->
    <div class="row hoff3">
        <!-- column -->
        <div class="span2 offset1">
                <!-- row -->
        <div class="row">
            <!-- column terminal -->
            <div class=" hi13 span2 span2">  <img class="node img-normal" src="{{ user.profile_pic }}">
            </div>
        </div>
        <!-- row -->
        <div class="row">
            <!-- column terminal -->
            <div class=" hi2 span2 span2">  <a class="node blue-link" href="{% url "webapp.pages.edit_profile" %}">  Edit profile
                  </a>
                </div>
        </div>
        </div>
        <!-- column -->
        <div class="span7 offset1">
                <!-- row -->
        <div class="row">
            <!-- column terminal -->
            <h1 class="node header-1 hi3 span7 span7" style="font-size:20px;">  {{ user.first_name }} {{ user.last_name }}
            </h1>
        </div>
        <!-- row -->
        <div class="row hoff2">
            <!-- column terminal -->
            <p class="node normal-text hi2 span4 span4">  About me:
                </p>
        </div>
        <!-- row -->
        <div class="row">
            <!-- column terminal -->
            <p class="node normal-text hi8 span6 span6" style="; padding: 0px 15px 0px 15px">  {{ user.about_me }}
                    </p>
        </div>
        </div>
    </div>
    <!-- row -->
    <div class="row hoff5">
        <!-- column terminal -->
        <form class="form-default hi8 span4 span4 offset2" action="{% url "webapp.form_receivers.create_wall_post" user.id %}" method="POST">  {% csrf_token %}
              <label>  Text
              </label>
              <textarea placeholder="Text" name="text"></textarea>
              <div class="form-error field-name-text"></div>
              <input class="btn" type="submit" value="Submit">
              <div class="form-error field-all"></div>
            </form>
    </div>
    <!-- row -->
    <div class="row hoff2">
        <!-- column terminal -->
        <div class="default-list hi46 span7 span7 offset2" style="position:relative;">  {% for obj in wall_posts %}
                  <div class="row" style="display:block; position:relative; height:150px;">  <p class="node normal-text" style="; position: absolute; height: 45px; width:400px; top: 0px; left: 95px; text-align:left ">  {{ obj.text }}
                    </p>
                  </div>
                  {% empty %}
                  <div style="display:block; position:relative; height:150px;">  List is empty.
                  </div>
                  {% endfor %}
                </div>
    </div>
{% endblock %}

{% block footer %}
<div class="footer">
  <div class="container">
    <ul class="footer-links">
    </ul>
    <p class="footer-text muted">Powered by Appcubator</p>
  </div>
  <div class="clearfix"></div>
</div>
{% endblock %}

{% block css %}

{% endblock %}

{% block js %}

{% endblock %}